<!--

  Html
    
    Classe eqLogic-widget eqLogic allowResize
      Pas indispensable mais sans ce div, pas de paramètres d'affichage sur click droit
      Il impose la couleur du texte, donc emploi de !important dans notre css pour outrepasser

-->


<div class="eqLogic-widget eqLogic allowResize"
  style="width: #width#;height: #height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style# "
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">

  <nav class='classDjeesignMenu'>
    <ul id='ul-container-#uid#'>
    </ul>
  </nav>

  <!--

  Script

    On récupère les infos stockées par OnHtml et on construit le menu sur document prêt et changement du document

-->
  <script>

    function loaded#uid#() {
      document.removeEventListener("DOMContentLoaded", loaded#uid#);
      window.removeEventListener("load", loaded#uid#);
      initDisplay#uid#();
    }

    if (document.readyState === "complete" ||
      (document.readyState !== "loading" && !document.documentElement.doScroll)) {
      window.setTimeout(initDisplay#uid#);
    } else {
      document.addEventListener("DOMContentLoaded", loaded#uid#);
      window.addEventListener("load", loaded#uid#);
    }

    function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

    function displayView(item) {

      let uri = document.location.toString();

      return updateQueryStringParameter(uri, 'view_id', item);

    }

    // On construit le menu avec les infos de configuration
    //
    function initDisplay#uid#() {
      var parametres = {};

      parametres.uid = "#uid#";
      parametres.listeIds = "#listeIds#";
      parametres.listeIcones = "#listeIcones#";
      parametres.listeNoms = "#listeNoms#";
      parametres.isIconOnly = "#isIconOnly#";
      parametres.isMenuView = "#isMenuView#";
      parametres.defaultView = "#defaultView#";

      // Récupération de la liste des ids ( configuration ) et la liste des noms de design ( fonction ToHtml )
      //
      let listeIds = parametres.listeIds;
      let ids = listeIds.split(';');
      let listeIcones = parametres.listeIcones;
      let icones = listeIcones.split(';');
      let listeNoms = parametres.listeNoms;
      let noms = listeNoms.split(';');
      let isIconOnly = parametres.isIconOnly;
      let isMenuView = parametres.isMenuView;

      // On récupère l'élément Html d'id ul-container et on vide son contenu
      //

      navMenu = document.querySelector('#ul-container-' + parametres.uid);

      navMenu.innerHTML = '';

      // On récupére l'id du design dans l'adresse de navigation
      //
      var $_GET = {};
      if (document.location.toString().indexOf('?') !== -1) {
        var query = document.location
          .toString()
          .replace(/^.*?\?/, '')
          .replace(/#.*$/, '')
          .split('&');

        for (var i = 0, l = query.length; i < l; i++) {
          var aux = decodeURIComponent(query[i]).split('=');
          $_GET[aux[0]] = aux[1];
        }
      }
      let planId = $_GET['plan_id'];
      if (isMenuView == true) {
        planId = $_GET['view_id'];
        if (typeof planId == 'undefined') {
          planId = parametres.defaultView;
        }
      }

      // Pour chacun des id, on ajoute le point de menu et on active le point de menu correspondant à l'adresse de navigation
      //   Avec un OnClick pour accéder au design correspondant à l'id planHeader_id
      //
      ids.forEach(ajouterMenu);
      function ajouterMenu(item, index) {
        let image = "";
        let imageSrc = "";
        if (index < icones.length) {
          image = icones[index];
          image = image.trim();
        }

        if (isMenuView == true) {

          let uri = displayView(item);
          let nImg = image.indexOf('.');

          if (isIconOnly == true) {
            if (image !== "") {
              if (nImg != -1)
                imageSrc = "<img src=\"data/img/" + image + "\" height=32px width=32px>";
              else
                imageSrc = "<i style='font-size:32px;' class='icon " + image + "'></i>";
            }

            if (item == planId)
              navMenu.innerHTML = navMenu.innerHTML + "<li class='active'><a href='" + uri + "'>" + imageSrc + "</a></li>";
            else
              navMenu.innerHTML = navMenu.innerHTML + "<li><a href='" + uri + "'>" + imageSrc + "</a></li>";
          }
          else {
            if (image !== "") {
              if (nImg != -1)
                imageSrc = "<img src=\"data/img/" + image + "\" height=16px width=16px>";
              else
                imageSrc = "<i style='font-size:16px;' class='icon " + image + "'></i>";
            }

            if (item == planId)
              navMenu.innerHTML = navMenu.innerHTML + "<li class='active'><a href='" + uri + "'>" + imageSrc + " " + noms[index] + "</a></li>";
            else
              navMenu.innerHTML = navMenu.innerHTML + "<li><a href='" + uri + "'>" + imageSrc + " " + noms[index] + "</a></li>";
          }

        } else {

          let nImg = image.indexOf('.');

          if (isIconOnly == true) {
            if (image !== "") {
              if (nImg != -1)
                imageSrc = "<img src=\"data/img/" + image + "\" height=32px width=32px>";
              else
                imageSrc = "<i style='font-size:32px;' class='icon " + image + "'></i>";
            }

            if (item == planId)
              navMenu.innerHTML = navMenu.innerHTML + "<li class='active'><a onClick='jeephp2js.planHeader_id=" + item + "; jeeFrontEnd.plan.displayPlan();'>" + imageSrc + "</a></li>";
            else
              navMenu.innerHTML = navMenu.innerHTML + "<li><a onClick='jeephp2js.planHeader_id=" + item + "; jeeFrontEnd.plan.displayPlan();'>" + imageSrc + "</a></li>";
          }
          else {
            if (image !== "") {
              if (nImg != -1)
                imageSrc = "<img src=\"data/img/" + image + "\" height=16px width=16px>";
              else
                imageSrc = "<i style='font-size:16px;' class='icon " + image + "'></i>";
            }

            if (item == planId)
              navMenu.innerHTML = navMenu.innerHTML + "<li class='active'><a onClick='jeephp2js.planHeader_id=" + item + "; jeeFrontEnd.plan.displayPlan();'>" + imageSrc + " " + noms[index] + "</a></li>";
            else
              navMenu.innerHTML = navMenu.innerHTML + "<li><a onClick='jeephp2js.planHeader_id=" + item + "; jeeFrontEnd.plan.displayPlan();'>" + imageSrc + " " + noms[index] + "</a></li>";
          }
        }
      }
    }
  </script>

</div>

<link rel="stylesheet" href="plugins/Djeesign/core/template/dashboard/Djeesign_#visuel#.css" />