<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classDjeesignWidget">
  </div>

  <div class="classDjeesignWidgetFondTitre">
  </div>

  <div class="classDjeesignWidgetTitre">
    <span id="idTitre#uid#">Titre</span>
  </div>

  <div class="classDjeesignWidgetContenu">

    <div id="showIconeMeteo#uid#">
      <span class="classDjeesignWidgetMeteoLigne">
        <img id="idIconeMeteo#uid#">
      </span>
    </div>

    <div id="showTexteMeteo#uid#">
      <span class="classDjeesignWidgetMeteoLigne">
        <span id="idTexteMeteo#uid#">??</span>
      </span>
    </div>

    <div id="showTemperatureMeteo#uid#">
        <span id="idDjeesignTemperatureMeteo">??</span>
     </div>
    <div id="showTemperatureMeteoMin#uid#">
        <span id="idDjeesignTemperatureMeteoMin">??</span>
    </div>
    <div id="showTemperatureMeteoMax#uid#">
         <span id="idDjeesignTemperatureMeteoMax">??</span>
    </div>

  </div>

  <script type="text/javascript">

    jeedom.cmd.addUpdateFunction('#idIconeMeteo#', Update#uid#idIconeMeteo); 
    
    function Update#uid#idIconeMeteo(_options) {

      if (_options.display_value == '') {
        if (is_object(cmd = document.querySelector('#showIconeMeteo#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#showIconeMeteo#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idIconeMeteo#uid#'))) {
          cmd.src = _options.display_value;
        }
      }
    }
    Update#uid#idIconeMeteo({ display_value: '#valIconeMeteo#'});

    jeedom.cmd.addUpdateFunction('#idTexteMeteo#', Update#uid#idTexteMeteo);
    function Update#uid#idTexteMeteo(_options) {

      if (_options.display_value == '') {
        if (is_object(cmd = document.querySelector('#showTexteMeteo#uid#'))) {
          cmd.style.display = 'none';
       }
      } else {
        if (is_object(cmd = document.querySelector('#showTexteMeteo#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idTexteMeteo#uid#'))) {
          cmd.innerHTML = _options.display_value;
          cmd.style.color = "#clrTexteMeteo#";
        }
      }
    }
    Update#uid#idTexteMeteo({ display_value: '#valTexteMeteo#'});

    jeedom.cmd.addUpdateFunction('#idTemperatureMeteo#', Update#uid#idTemperatureMeteo );  
    function Update#uid#idTemperatureMeteo (_options) {
      if (_options.display_value == 9999) {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteo#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteo#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idDjeesignTemperatureMeteo'))) {

          cmd.innerHTML = _options.display_value + '°';

          if (is_object(cmd = document.querySelector('#showTemperatureMeteo#uid#'))) {
            cmd.setAttribute('title', 'Date de valeur : ' + _options.valueDate + '<br>Date de collecte : ' + _options.collectDate);
          }
        }
      }
    }
    Update#uid#idTemperatureMeteo({ display_value: '#valTemperatureMeteo#', valueDate: '#vdTemperatureMeteo#', collectDate: '#cdTemperatureMeteo#' });

    jeedom.cmd.addUpdateFunction('#idTemperatureMeteoMin#', Update#uid#idTemperatureMeteoMin );  
    function Update#uid#idTemperatureMeteoMin (_options) {
      if (_options.display_value == 9999) {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteoMin#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteoMin#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idDjeesignTemperatureMeteoMin'))) {

          cmd.innerHTML = _options.display_value + '°';

          if (is_object(cmd = document.querySelector('#showTemperatureMeteoMin#uid#'))) {
            cmd.setAttribute('title', 'Date de valeur : ' + _options.valueDate + '<br>Date de collecte : ' + _options.collectDate);
          }
        }
      }
    }
    Update#uid#idTemperatureMeteoMin({ display_value: '#valTemperatureMeteoMin#', valueDate: '#vdTemperatureMeteoMin#', collectDate: '#cdTemperatureMeteoMin#' });

    jeedom.cmd.addUpdateFunction('#idTemperatureMeteoMax#', Update#uid#idTemperatureMeteoMax );  
    function Update#uid#idTemperatureMeteoMax (_options) {
      if (_options.display_value == 9999) {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteoMax#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (is_object(cmd = document.querySelector('#showTemperatureMeteoMax#uid#'))) {
          cmd.style.display = 'block';
        }
        if (is_object(cmd = document.querySelector('#idDjeesignTemperatureMeteoMax'))) {

          cmd.innerHTML = _options.display_value + '°';

          if (is_object(cmd = document.querySelector('#showTemperatureMeteoMax#uid#'))) {
            cmd.setAttribute('title', 'Date de valeur : ' + _options.valueDate + '<br>Date de collecte : ' + _options.collectDate);
          }
        }
      }
    }
    Update#uid#idTemperatureMeteoMax({ display_value: '#valTemperatureMeteoMax#', valueDate: '#vdTemperatureMeteoMax#', collectDate: '#cdTemperatureMeteoMax#' });

    if (is_object(cmd = document.querySelector('#idTitre#uid#'))) {
      cmd.innerHTML = "#titreWidget#";
      cmd.style.color = "#clrTitre#";
    }

  </script>

</div>

<link rel="stylesheet" href="plugins/Djeesign/core/template/dashboard/Djeesign_#visuel#.css" />
  
