<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classDjeesignWidget">
  </div>

  <div class="classDjeesignWidgetFondTitre">
  </div>

  <div class="classDjeesignWidgetTitre">
    <span id="idTitre#uid#">Titre</span>
  </div>

  <div class="classDjeesignWidgetContenu">
    <div id="showTemperature#uid#">
      <span class="classDjeesignWidgetLigne">
        <img id="idImgTemperature#uid#" src="plugins/Djeesign/core/img/thermometer.svg">
        <span id="idTemperature#uid#"></span>
      </span>
    </div>

    <div id="showHumidite#uid#">
      <span class="classDjeesignWidgetLigne">
        <img id="idImgHumidite#uid#" src="plugins/Djeesign/core/img/water-percent.svg">
        <span id="idHumidite#uid#"></span>
      </span>
    </div>
  </div>


  <script type="text/javascript">

    jeedom.cmd.update['#idTemperature#'] = function (_options) {

      if (_options.display_value == 9999) {
        $('#showTemperature#uid#').hide();
      } else {
        $('#showTemperature#uid#').show();
        $('#idTemperature#uid#').html(_options.display_value + '°');
        $('#idImgTemperature#uid#').attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate);

        if ((_options.display_value < #temperatureMin#) ||
            (_options.display_value > #temperatureMax#)) {
          $('#idTemperature#uid#').css("color", "red");
        } else {
          $('#idTemperature#uid#').css("color", "#clrTemperature#");
        }
      }
    }
    jeedom.cmd.update['#idTemperature#']({ display_value: '#valTemperature#', valueDate: '#vdTemperature#', collectDate: '#cdTemperature#' });

    jeedom.cmd.update['#idHumidite#'] = function (_options) {

     if (_options.display_value == 9999) {
        $('#showHumidite#uid#').hide();
      } else {
        $('#showHumidite#uid#').show();
        $('#idHumidite#uid#').html(_options.display_value + '%');
        $('#idImgHumidite#uid#').attr('title', 'Date de valeur : ' + _options.valueDate + '<br/>Date de collecte : ' + _options.collectDate);

        if ((_options.display_value < #humiditeMin#) ||
            (_options.display_value > #humiditeMax#)) {
          $('#idHumidite#uid#').css("color", "red");
        } else {
          $('#idHumidite#uid#').css("color", "#clrHumidite#");
        }
      }

    }
    jeedom.cmd.update['#idHumidite#']({ display_value: '#valHumidite#', valueDate: '#vdHumidite#', collectDate: '#cdHumidite#' });

    $('#idTitre#uid#').html('#titreWidget#');
    $('#idTitre#uid#').css("color", "#clrTitre#");
 
  </script>

</div>

<link rel="stylesheet" href="plugins/Djeesign/core/template/dashboard/Djeesign_#visuel#.css" />