<div
  class="eqLogic eqLogic-widget text-center allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class# #category#"
  data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classDjeesignWidget">
  </div>

  <div class="classDjeesignWidgetFondTitre">
  </div>

  <div class="classDjeesignWidgetTitre">
    <span id="idTitre#uid#">Titre</span>
  </div>

  <div class="classDjeesignWidgetContenu">

    <div class="classDjeesignWidgetLigne">
      <img class="cursor" id="idImgStatutOn#uid#" src="plugins/Djeesign/core/img/lightbulb-on.svg">
      <img class="cursor" id="idImgStatutOff#uid#" src="plugins/Djeesign/core/img/lightbulb-off.svg">    
      <span id="idStatut#uid#">??</span>
    </div>

  </div>

  <script type="text/javascript">

    jeedom.cmd.addUpdateFunction('#idStatut#', function (_options) {

      if (_options.display_value == 9999) {

        if (is_object(cmd = document.querySelector('#idImgStatutOn#uid#'))) {
          cmd.style.display = 'none';
        }
        if (is_object(cmd = document.querySelector('#idImgStatutOff#uid#'))) {
          cmd.style.display = 'none';
        }
      } else {
        if (_options.display_value >= 1) {          
          if (is_object(cmd = document.querySelector('#idImgStatutOn#uid#'))) {
            cmd.style.display = 'inline';
          }
          if (is_object(cmd = document.querySelector('#idImgStatutOff#uid#'))) {
            cmd.style.display = 'none';
          }
        } else {
          if (is_object(cmd = document.querySelector('#idImgStatutOn#uid#'))) {
            cmd.style.display = 'none';
          }
          if (is_object(cmd = document.querySelector('#idImgStatutOff#uid#'))) {
            cmd.style.display = 'inline';
          }
        }

        if (is_object(cmd = document.querySelector('#idStatut#uid#'))) {
          jeedom.cmd.displayDuration(_options.valueDate, cmd);
        }
      }
    });
    jeedom.cmd.refreshValue([{ cmd_id: '#idStatut#', display_value: '#valStatut#', valueDate: '#vdStatut#', collectDate: '#cdStatut#' }]);

    if (is_object(cmd = document.querySelector('#idTitre#uid#'))) {
      cmd.innerHTML = "#titreWidget#";
      cmd.style.color = "#clrTitre#";
    }
    if (is_object(cmd = document.querySelector('#idStatut#uid#'))) {
      cmd.style.color = "#clrTexte#";
    }

    document.getElementById("idImgStatutOn#uid#").onclick = function() {jeedom.cmd.execute({id: '#idEteindre#'});};
    document.getElementById("idImgStatutOff#uid#").onclick = function() {jeedom.cmd.execute({id: '#idAllumer#'});};

  </script>

</div>

<link rel="stylesheet" href="plugins/Djeesign/core/template/dashboard/Djeesign_#visuel#.css" />