<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class#" data-eqType="#eqType#"
  data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#"
  data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#"
  style="width: #width#;height: #height#;#style#">

  <div class="classDjeesignPourtour">
  </div>

  <div class="classDjeesignFondTitre">
  </div>

  <div class="classDjeesignTitre">
    <span id="IdDjeesignTitre#uid#">Titre</span>
  </div>

  <div id="IdDjeesignIcone#uid#" class="classDjeesignIcone">
  </div>

  <script type="text/javascript">


    // Titre du cadre
    //
    if (is_object(cmd = document.querySelector('#IdDjeesignTitre#uid#'))) {
      cmd.innerHTML = '#titre#';
      cmd.style.color = '#clrTitre#';
    }

    // Icone du cadre
    //
    if (is_object(cmd = document.querySelector('#IdDjeesignIcone#uid#'))) {

      let icone = "#icone#";
      icone = icone.trim();
      if (icone !== "") {
        let imgIcone = "";
        let nImg = icone.indexOf('.');
        if (nImg != -1)
          imgIcone = "<img src=\"data/img/" + icone + "\" height=100% width=100%>";
        else
          imgIcone = "<i style='font-size:32px;' class='icon " + icone + "'></i>";

        cmd.innerHTML = imgIcone;
      }
    }

  </script>

</div>

<link rel="stylesheet" href="plugins/Djeesign/core/template/dashboard/Djeesign_#visuel#.css" />